<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
</head>
<table>
    <tbody>
    <table style="position: absolute;
    border-spacing: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 500px;
    top: 160px;
    overflow: hidden;
    padding-bottom: 25px;">
        <tr>
            <td style="text-align: center;
            margin: 0 auto;
            background-color: #0665d0;
            color: #fff;
            font-size: 28px;
            height: 48px;
            line-height: 48px;"> 基因分析
            </td>
        </tr>
        <tr>
            <td style="margin-top: 36px;
            text-align: center;
            color: black;
            font-size: 24px;
            padding-top: 26px;"><b id="userId" style="font-weight: normal;">233</b>,您好！
            </td>
        </tr>
        <tr>
            <td style=" text-align: center;
            color: black;
            padding-top: 16px;">
                您已成功注册！
            </td>
        </tr>
    </table>
    </tbody>
</table>
</html>